

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 16px;
}



.create-list-container {
  width: 90vw;
  
  display: flex;
  flex-direction: column-reverse;
  position: relative; 
  height: 100vh;
  justify-content: flex-start;
}

.rough-draft {
  height: 65vh;
  overflow: scroll;

  
 

}

.comic-list-item {
  background: blue;
  margin-bottom: 10px;
  width: 80vw;
  height: 40px;
  color: white;

  display: block;

}
.final-list .comic-list-item {
  width: 25vw;
  height: 25px;
  margin-right: 5px;
}



.final-list {
 height: 30vh;
 width: 80vw;
 position: fixed;
 border: 2px dashed #d3d3d3;
 top: 0;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 z-index: 1;
 
 /* align-items: flex-start; */
 

}



.list-box-text {
 color: #d3d3d3;
 height: 30vh;
 width: 80vw;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 


}







@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





.time {

  display: flex;
  padding: 40px;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  justify-content: space-between;
  color: rgb(42,198,17);
  
}

.clock {
  width: 200px;
  background: black;
  size: 2em;
  border: 3px solid rgb(42,198,17);
  border-radius: 12px;
}

.timer {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.timer-buttons {
  
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
  font-weight: normal;
  align-items: center;
  border-radius: 0;
}

.minutes {
  width: 50px;
}

.seconds {
  width: 50px;
}

.svg-inline--fa {

  margin-right: 8px;
}

/* make only timer portion black, aligin buttons, give timer background color and radius */





/*
@media only screen and (max-width: 820px) {
   body {
    
      line-height: 2em;
     display: flex;
     align-items: center;
     width: 100%;
     color: rgb(42,198,17);
   
      
     
   }



   .Header-title {
       width: 100%;
       font-size: x-large;
       font-weight: 800;
   }
 */
 
}