

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

 * {
   box-sizing: border-box;

 }

body {
  font-size: 1em;
 display: flex;
 justify-content: center;
 /* align-items: flex-start; */
 width: 100%;
 margin: 0;
 height: 100%;
 position: relative;

}

 h2 {
  font-size: 32px;
  padding-top: 0;
}

h3 {
  font-size: 24px;
 
  
}

.sign-ups {

width: 700px;
height: 80vh;
background:  white;
display: flex;
justify-content: center;
box-shadow: 0 0 10px gray;
margin-top: 60px;



}

.comic-list-item {
    width: 700px;
    height: 40px;
    background: cornflowerblue;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    
    justify-content: space-evenly;
    color: ghostwhite;
    box-shadow: 0 0 10px gray;
    transition: all .5s;
    border: none;
    align-items: center;
  
}

.comic-list-item span {
    display: flex;
    justify-content: flex-start;
    min-width:140px;
    
    
}

.comic-list-item:hover {

    cursor: pointer;
    background: rgb(71, 127, 232);
    
    
}

.comics-header {
margin-block-start: 0;
    margin-block-end: 0;

    

}

.accolades {
  position: absolute;
  font-size: x-small;
  color: yellow;
  width:20px;
  display: flex;
  justify-content: flex-start;

}


.Header-title {
  width:90vw;
  justify-content: center;
  display: flex;
  


  font-family: Poppins;
  
  
 
  
  

}

.Sign-in {
   
  width:90vw;
  border: solid 1px #dddddd;;
 font-family: Helvetica Neue;
  background: white;
 box-shadow: 0 0 3em rgba(0,0,0,.4);

 line-height: 1.5;
 font-size: 1em;


}


.Sign-in section p {

 padding: 10px;

}

h2 {
    width: 750px;
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    
   
}

h3 {
  display: flex;
  justify-content: center;
}

.Sign-in section {


    display: flex;
    flex-direction: column;
    justify-content: space-between;
   height: 80vh;
   
   /* padding: 60px; */
   

}

.Sign-in section span {
  
  padding: 10px 20px;
  font-size: 1em;

}

form {
 width: 90vw;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-top: 30px;

 

}

label {
    padding: 5px;
    border-bottom: 1px solid gray ;
    width: 400px;
}
input {
    padding: 5px;
    border: none;
    font-size: .75em;
}


.button-container {
   width: 90vw;
   display: flex;
   justify-content: center;
   align-items: center;
  

}
button {
	border-radius: 20px;
	border: 1px solid #ff3300;
	background-color: #ff3300;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button:hover {
 cursor: pointer;
 border: 1px solid #00ff00;
	background-color: #00ff00;

}

input:required {
  border-color: black;
}

input[type="checkbox" i] {
   margin: 0;
   width: 32px;
   height: 32px;
}

.check-box {
  border-bottom: none;
  display: flex;
  align-items: center;
  padding: none;
 
}
.check-box span {
  padding-left: 20px;
  font-weight: bold;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





.time {

  display: flex;
  padding: 40px;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  justify-content: space-between;
  color: rgb(42,198,17);
  
}

.clock {
  width: 200px;
  background: black;
  size: 2em;
  border: 3px solid rgb(42,198,17);
  border-radius: 12px;
}

.timer {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.timer-buttons {
  
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
  font-weight: normal;
  align-items: center;
  border-radius: 0;
}

.minutes {
  width: 50px;
}

.seconds {
  width: 50px;
}

.svg-inline--fa {

  margin-right: 8px;
}

/* make only timer portion black, aligin buttons, give timer background color and radius */






@media only screen and (max-width: 820px) {
   body {
    
      line-height: 2em;
     display: flex;
     align-items: center;
     width: 100%;
     color: rgb(42,198,17);
   
      
     
   }



   .Header-title {
       width: 100%;
       font-size: x-large;
       font-weight: 800;
   }

 
}