

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');


body {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
}



.create-list-container {
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column-reverse;
  position: relative; 
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.rough-draft {
  height: 55vh;
  overflow: scroll;
  width: 90vw;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  flex-direction: column;

  
 

}

.comic-list-item {
 background:cornflowerblue;
  margin-bottom: 15px;
  width: 85vw;
  height: 50px;
  color: ghostwhite;
  box-shadow: 0 0 10px gray;
    transition: all .2s;
    display: grid;
    grid-template-columns: 4.75fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 1;
    font-size: 14px;
    position: relative;
  
    


}

button.comic-points {
  width: 18px;
  border: none;
  background-color: transparent;
 


}

.svg-inline--fa {

  vertical-align: 0;
  font-size: 12px;
  background: transparent;
}
      
.comic-name {

grid-row: 2/3;
grid-column: 1/2;
margin-left: 20px;

}

.accolades {
 grid-row: 2/3;
 grid-column: 2/3;
 color: yellow;
 

}

.comic-points {
 grid-column: 3/4;
 grid-row: 2/3;
 margin-left: 20px;
 
}



.comic-list-item:hover {

    cursor: pointer;
    background: rgb(71, 127, 232);
    
  }

  .final-list .comic-list-item {
  width: 15vw;
  height: 5vh;
  
  
  margin-bottom: 0;


background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
color: white;
}






.final-list {
 height: 30vh;
 width: 80vw;
 position: fixed;
 border: 2px dashed #d3d3d3;
 top: 0;
 display: grid;
 z-index: 1;
 margin-top: 10px;
row-gap: 0;
grid-auto-columns: min-content;
grid-template-rows: repeat(5, 1fr);
grid-auto-flow: column;
gap: 5px;
 
 /* align-items: flex-start; */
 

}

.swap-lists {
  width: 80vw;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: white;
  color: rgb(71, 127, 232);
  margin-bottom: 10px;
}

.swap-lists button {
  
  border: 1px solid rgb(71, 127, 232);
	color: rgb(71, 127, 232);
  font-weight: 700;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	font-weight: 100;
	padding: 15px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;

}

.swap-lists button:hover {
  background: lightblue;
}


.finish-list-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
 width: 90vw;
position: relative;


}

.finish-list-container .rough-draft {
  width: 90vw;
  overflow: visible;



}

.finish-list-container .swap-lists {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.finish-list-container .comic-list-item  {
  width: 90vw;
}

.list-box-text {
 color: #d3d3d3;
 height: 30vh;
 width: 80vw;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 


}


button:hover {

  cursor: pointer;

}






@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: blue transparent blue transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}


.order {
 position: absolute;
 margin-left: 5px;
 
 

}


.time {

  display: flex;
  padding: 40px;
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  justify-content: space-between;
  color: rgb(42,198,17);
  
}

.clock {
  width: 200px;
  background: black;
  size: 2em;
  border: 3px solid rgb(42,198,17);
  border-radius: 12px;
}

.timer {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.timer-buttons {
  
  width: 30px;
  height: 30px;
  letter-spacing: 1px;
  font-weight: normal;
  align-items: center;
  border-radius: 0;
}

.minutes {
  width: 50px;
}

.seconds {
  width: 50px;
}

.droppable {
 overflow: hidden;

}

/* make only timer portion black, aligin buttons, give timer background color and radius */



 
   
button.comic-points {
  margin-left: 0;
}


.comic-list-item.hidden {
  /* display: none; */
  opacity: .3;
}
  
.set-duration {
  grid-column: 2/4;
  grid-row: 2;
  
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);

  overflow: hidden;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 1vh 1.5vw;
  font-size: small;
  color: blue;
  background: white;
  cursor: pointer;
  transition: background 0.1s;
}
.radio__label:not(:last-of-type) {
  border-right:2px solid darkblue;
}

.checked {
  background: darkblue;
  color: white;
}




  

  @media only screen and (max-height:750px) {
   
    body {
      align-items: flex-start;
    }

   .swap-lists {
     height: 8vh;
     /* margin-top: 40px; */
     font-size: x-small;
   }

   .rough-draft {
     height: 55vh;
    
   }

   .finish-list-container .swap-lists {
     margin-top: 20px;
    align-items: center;
   

   }
  
  .finish-list-container .rough-draft {
    height: 75vh;
    overflow: scroll;
  }

  

   .comic-list-item {
      font-size: small;
   }

    .svg-inline--fa {

     
     font-size: x-small;
   }

 


  }



@media only screen and (max-width:853px)  {
    
   .svg-inline--fa {

     
     font-size: smaller;
   }

   .final-list .comic-list-item {

   
   width: 80vw;

   }

   .final-list {
      overflow: scroll;
      grid-auto-flow: row;
      margin-bottom: 10px;
   }
     
    
    }

    @media only screen and (max-width:400px) and (min-height:760px) {

      .svg-inline--fa {

     
     font-size: smaller;
      }
   }

       @media only screen and (max-width:1558px) {

    .final-list .comic-list-item {
      font-size: x-small;
    } 



    }

  